---
import { getEntry, type CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
const { author, description, title, pubDate } = post.data;

const authorData = await getEntry('author', author.id).then(
  (data) => data.data
);
---

<article>
  <div>
    <h3>{title}</h3>
    <p>{authorData.name}</p>
    <time datetime={pubDate.toISOString()}
      >{pubDate.toLocaleDateString(undefined, { dateStyle: 'medium' })}</time
    >
    <p>{description}</p>
    <a href={`/posts/${post.slug}`}>Read Post</a>
  </div>
</article>
