---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Sarim" />
    <meta property="profile:last_name" content="Hasan" />
    <meta property="og:url" content="" />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sarim_hsan" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />

    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link rel="canonical" href="" />

    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
