---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:image" content="" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Sarim" />
    <meta property="profile:last_name" content="Hasan" />
    <meta property="og:url" content="" />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sarim_hsan" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />

    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <link rel="canonical" href="" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  body {
    font-family: 'Inter', sans-serif;
  }

  h1 {
    @apply text-tt-light dark:text-tt-dark md:text-[30px] text-[27px];
  }
  li,
  h2,
  p {
    @apply text-tt-light dark:text-tt-dark;
  }
</style>
